*.o
*.so
*.lo
*.la
*~
config.*
INSTALL
Makefile.in
aclocal.m4
autom4te.cache
compile
compile_48.sh
configure
depcomp
doconfig.sh
doconfig32.sh
doconfigstab.sh
install-sh
lic
ltmain.sh
maccombined.sh
missing
recomp.sh
src/Makefile.in
