*.o
*.so
*.lo
*.la
*~
config.*
INSTALL
Makefile.in
aclocal.m4
autom4te.cache
compile
compile_48.sh
configure
depcomp
doconfig.sh
doconfig32.sh
doconfigstab.sh
doconfig48.sh
doconfig49.sh
install-sh
lic
ltmain.sh
maccombined.sh
missing
recomp.sh
src/Makefile.in
Makefile
*.pc
libtool
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
src/.deps/
src/.libs/
src/Makefile
src/libmaus/LibMausConfig.hpp
src/*.a
stamp-h1
ubuntu.sh
src/test[a-zA-Z]*
*/.dirstamp
*/*/.dirstamp
*/*/*/.dirstamp
*/.deps
*/*/.deps
*/*/*/.deps
