Source: libmaus
Maintainer: German Tischler <gt1@sanger.ac.uk>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 7),  autoconf (>= 2.61), automake (>= 1.10), libtool (>= 2.2.6), pkg-config (>= 0.22), zlib1g-dev (>= 1.2.3)

Package: libmaus
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: libmaus
