#!/usr/bin/make -f
export DH_VERBOSE=1
DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

%:
	dh $@ --with autoreconf	--parallel

override_dh_auto_configure:
	dh_auto_configure -- --with-snappy --with-seqan --with-io_lib --with-gnutls --with-nettle --with-yasm --disable-kmlocal --disable-ssse3 --disable-sse4
